body {
  background-color: #00ffa2;
  color: #004466;
}

body a {
  color: #004466;
}

body div.page-wrapper div.table-wrapper table thead {
  background-color: #004466;
  color: #00ffa2;
}

body div.page-wrapper div.table-wrapper table thead tr th {
  border: none;
}

body div.page-wrapper div.table-wrapper table tbody tr td img.vehicle-img {
  width: 250px;
}
